{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<!-- -----------------------*******------------------------ -->

<section id="showcase-inner" class="py-5 text-white" >
    <div class="container" style="margin-top: 100px;">
<h1><a href="{% url 'dashboard' %}" type="button" class="btn btn-dark">Go back</a> </h1>

        <div class="row text-center text-dark">
        <div class="col-md-12">
            <h1 class="display-4 " style="margin-top: 100px;">National Population Commision Owerri</h1>
          <p class="lead">Register a Child</p>
        </div>
        </div>
    </div>
</section>

<div class="container ">

    <section id="register" class=" py-2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
                <div class=" justify-content-center align-items-center">
                  <form action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{form | crispy}}
                      <input type="submit" class="btn btn-danger" value="Submit">
                  </form>
                </div>
              </div>
          </div>
    </div>
</section>
  </div>

  <style>
    *{
        color: red;
    }
  </style>

{% endblock %}