{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start Slider -->
<section id="home">
    <article class="content">			
        <div id="rev_slider_1083_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="travel" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
            <div id="rev_slider_1083_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>	<!-- SLIDE  -->
                    <li data-index="rs-3070" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Number One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/travel2.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3071" data-transition="parallaxhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Number Two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/travel3.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                    </li>
                </ul>
                <div style="" class="tp-static-layers">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption Travel-BigCaption   tp-resizeme tp-static-layer" 
                         id="slider-1083-layer-1" 
                         data-x="['left','left','left','left']" data-hoffset="['90','90','60','40']" 
                         data-y="['center','center','center','center']" data-voffset="['-30','-30','-10','-50']" 
                        data-fontsize="['150','100','80','50']"
                        data-lineheight="['150','100','80','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="text" 
                        data-responsive_offset="on" 

                        data-startslide="0" 
                        data-endslide="3" 
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 5; white-space: nowrap;text-transform:left; color: #fea38e; font-weight: 900">Welcome</div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Travel-SmallCaption   tp-resizeme tp-static-layer" 
                         id="slider-1083-layer-2" 
                         data-x="['left','left','left','left']" data-hoffset="['90','90','60','40']" 
                         data-y="['center','center','center','center']" data-voffset="['80','80','80','00']" 
                                    data-fontsize="['25','25','25','20']"
                        data-lineheight="['30','30','30','20']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="text" 
                        data-responsive_offset="on" 

                        data-startslide="0" 
                        data-endslide="3" 
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 6; white-space: nowrap;text-transform:left; color: #222222;">Child Birth registration System </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Travel-CallToAction cs-button x-small  tp-static-layer" 
                         id="slider-1083-layer-3" 
                         data-x="['left','left','left','left']" data-hoffset="['90','90','60','40']" 
                         data-y="['center','center','center','center']" data-voffset="['150','150','150','60']" 
                                    data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"

                        data-type="button" 
                        data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                        data-responsive_offset="on" 
                        data-responsive="off"
                        data-startslide="0" 
                        data-endslide="3" 
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(61, 9, 31, 1.00);bg:#fea38e;bw:2px 2px 2px 2px;"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[20,20,20,20]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[20,20,20,20]"

                        style="z-index: 7; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><a class="hov" href="{% url 'login' %}">Staff Login</a> </div>
                        <style>
                            .hov:hover{
                                color: #fff;
                            }
                        </style>
                </div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->

    </article>
</section>	
<!-- End Slider -->






<section class="section-ptb-80 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2 class="heading">Recommended Just For You</h2>
                </div>
            </div>
        </div> 
        <div class="row mt-50">
            <div class="col-md-4 col-12">
                <div class="content-1 mb-30">
                    <div class="content-1-image mb-30">
                        <img alt="" src="{% static 'images/370x180-1.png' %}" class="img-fluid">
                    </div>
                    <div class="content-1-info text-center">
                        <h4 class="text-back f-w6 theme-color">Twins & Multiples</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="content-1 mb-30">
                    <div class="content-1-image mb-30">
                        <img alt="" src="{% static 'images/370x180-2.png' %}" class="img-fluid">
                    </div>
                    <div class="content-1-info text-center">
                        <h4 class="text-back f-w6 theme-color">Maternity & Paternity</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="content-1 mb-30">
                    <div class="content-1-image mb-30">
                        <img alt="" src="{% static 'images/370x180-3.png' %}" class="img-fluid">
                    </div>
                    <div class="content-1-info text-center">
                        <h4 class="text-back f-w6 theme-color">Your Baby at 2 Months Old</h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-ptb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="section-heading text-center">
                    <h2 class="heading">Our highly qualified doctors will <br>guide you through the pregnancy trimestres</h2>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-12">
                <div class="tab round dd-tab rounded border">
                    <ul class="nav nav-tabs py-30 mb-0 bg-blue" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="beforebirth-tab" data-toggle="tab" href="#beforebirth" role="tab" aria-controls="beforebirth" aria-selected="true"> BEFORE BIRTH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="afterbirth-tab" data-toggle="tab" href="#afterbirth" role="tab" aria-controls="afterbirth" aria-selected="false">AFTER BIRTH </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="beforebirth" role="tabpanel" aria-labelledby="beforebirth-tab">
                            <div class="tab dd-tab-sm">
                                <ul class="nav nav-tabs bg-light mb-0 py-15" id="myTab2" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active show" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">First Trimester</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Second Trimester</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">Third Trimester</a>
                                    </li>
                                </ul>
                                <div class="tab-content p-30">
                                    <div class="tab-pane fade active show" id="first" role="tabpanel" aria-labelledby="first-tab">
                                        <div class="border-bottom pb-20">
                                            <p><small>WEEK 1-4</small></p>
                                            <h4>The sex of your baby has already been decided</h4>
                                            
                                        </div>
                                        <div class="border-bottom py-20">
                                            <p><small>WEEK 4-9</small></p>
                                            <h4>You might feel some pregnancy symptoms at four weeks</h4>
                                            
                                        </div>
                                        <div class="pt-20">
                                            <p><small>WEEK 9-13</small></p>
                                            <h4>Your baby is now 6cm in length and fully formed</h4>
                                            
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">												
                                        <div class="border-bottom pb-20">
                                            <p><small>WEEK 13-18</small></p>
                                            <h4>Baby’s lower limbs are now well-developed</h4>
                                            
                                        </div>
                                        <div class="border-bottom py-20">
                                            <p><small>WEEK 18-22</small></p>
                                            <h4>Baby-to-be is adding fat tissue and gaining weight</h4>
                                            
                                        </div>
                                        <div class="pt-20">
                                            <p><small>WEEK 22-27</small></p>
                                            <h4>Baby’s immune system is strengthening</h4>
                                            
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">											
                                        <div class="border-bottom pb-20">
                                            <p><small>WEEK 27-31</small></p>
                                            <h4>Baby’s eyes are opening and she’s gaining weight</h4>
                                            
                                        </div>
                                        <div class="border-bottom py-20">
                                            <p><small>WEEK 31-36</small></p>
                                            <h4>Your baby is getting more plump each day</h4>
                                            
                                        </div>
                                        <div class="pt-20">
                                            <p><small>WEEK 36-40</small></p>
                                            <h4>Delivery day is coming soon!</h4>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="afterbirth" role="tabpanel" aria-labelledby="afterbirth-tab">
                            <div class="tab dd-tab-sm">
                                <ul class="nav nav-tabs bg-light mb-0 py-15" id="myTab3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active show" id="babyfirst-tab" data-toggle="tab" href="#babyfirst" role="tab" aria-controls="babyfirst" aria-selected="true">BABYS FIRST YEAR</a>
                                    </li>
                                </ul>
                                <div class="tab-content p-30">
                                    <div class="tab-pane fade active show" id="babyfirst" role="tabpanel" aria-labelledby="babyfirst-tab">
                                        <div class="border-bottom pb-20">
                                            <p><small>FIRST YEAR</small></p>
                                            <h4>Being a Parent</h4>
                                            
                                        </div>
                                        <div class="border-bottom py-20">
                                            <p><small>FIRST YEAR</small></p>
                                            <h4>Baby’s First Week</h4>
                                            
                                        </div>
                                        <div class="border-bottom py-20">
                                            <p><small>FIRST YEAR</small></p>
                                            <h4>Baby Development</h4>
                                            
                                        </div>
                                        <div class="pt-20">
                                            <p><small>FIRST YEAR</small></p>
                                            <h4>Early Child Development</h4>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






    
{% endblock content %}